@-webkit-keyframes rotate {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotate {
  0%   { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); }
}
@keyframes rotate {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes pulse {
  0%   { opacity: 1; }
  30% { opacity: 0; }
  80% { opacity: 1; }
}
@-moz-keyframes pulse {
  0%   { opacity: 1; }
  30% { opacity: 0; }
  80% { opacity: 1; }
}
@keyframes pulse {
  0%   { opacity: 1; }
  30% { opacity: 0; }
  80% { opacity: 1; }
}

@-webkit-keyframes alert {
  0%   { background: $dark-grey; }
  20%   { background: $dark-grey; }
  21%   { background: $white; }
  100% { background: $white; }
}
@-moz-keyframes alert {
  0%   { background: $dark-grey; }
  20%   { background: $dark-grey; }
  21%   { background: $white; }
  100% { background: $white; }
}
@keyframes alert {
  0%   { background: $dark-grey; }
  20%   { background: $dark-grey; }
  21%   { background: $white; }
  100% { background: $white; }
}

@-webkit-keyframes alertshadow {
  0%   { -webkit-box-shadow: -70px 0 30px -20px $dark-grey inset; }
  20%   { -webkit-box-shadow: -70px 0 30px -20px $dark-grey inset; }
  21%   { -webkit-box-shadow: -70px 0 30px -20px $white inset; }
  100% { -webkit-box-shadow: -70px 0 30px -20px $white inset; }
}
@-moz-keyframes alertshadow {
  0%   { -moz-box-shadow: -70px 0 30px -20px $dark-grey inset; }
  20%   { -moz-box-shadow: -70px 0 30px -20px $dark-grey inset; }
  21%   { -moz-box-shadow: -70px 0 30px -20px $white inset; }
  100% { -moz-box-shadow: -70px 0 30px -20px $white inset; }
}
@keyframes alertshadow {
  0%   { box-shadow: -70px 0 30px -20px $dark-grey inset; }
  20%   { box-shadow: -70px 0 30px -20px $dark-grey inset; }
  21%   { box-shadow: -70px 0 30px -20px $white inset; }
  100% { box-shadow: -70px 0 30px -20px $white inset; }
}