.touch {
  height: auto;
  overflow: auto;
  background: $black;

  body { height: auto; overflow: auto; background: $black; }

  header.main {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    background: $white;
    border-bottom: $black solid 3px;

    .spinner {
      position: relative;
      top: auto;
      left: auto;
      width: auto;
      height: auto;

      a {
        position: relative;
        top: auto;
        left: auto;
        height: auto;
        padding: 10px 20px 15px 20px;
        line-height: 24px;

        &.open-about,
        &.close-about {
          width: auto;
          margin: 0;
          -webkit-animation: none;
          -moz-animation: none;
          animation: none; 
        }

        &.open-about:after {
          display: block;
          content: "About";
          color: $dark-grey;
        }

        &.close-about { display: none; color: $dark-grey; }
        &.close-about:before {
          display: block;
          content: "New Degrees of Freedom";
          color: $black;
        }

        h1 { color: $black; line-height: 24px; }
      }
    }
  }

  .vertical-divider { display: none; }

  .about {
    display: none;
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    height: auto;

    .primary,
    .secondary {
      position: relative;
      top: auto;
      left: auto;
      width: auto !important;
      height: auto;
      overflow: visible;
      opacity: 1;
    }

    .primary .text { padding-bottom: 0; }
  }

  .pieces {
    position: relative;

    .act {
      position: relative;
      top: auto !important;
      left: auto !important;
      width: auto;
      height: auto;
      overflow: hidden;
      border-bottom: $black solid 3px;
      @include transition(none);

      .stage {
        position: relative;
        top: auto;
        left: auto;
        width: auto;
        height: auto;
      }

      .shadow {
        top: 50% !important;
        left: 50% !important;
        width: 400px !important;
        height: 800px !important;
        margin: -400px -200px !important;
      }

      .video {
        position: relative;
        top: auto !important;
        left: auto !important;
        width: auto !important;
        height: auto !important;
        margin: 0 !important;
        padding: 20px;
      }

      .video-wrap {
        video { opacity: 1; visibility: visible; }
      }
    }

    canvas { display: none; }

    .act#act-1-clone { display: none; }
  }

  .chat-bots {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    height: auto;

    .chat-window {
      float: none;
      width: auto !important;
      height: auto;
      margin: 0;
      padding: 0;
      border-bottom: $black solid 3px;

      &:last-child { border-bottom: none; }

      .chat {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
      }

      .title {
        a { @include box-shadow(0, 0, 0, 0, $dark-grey); }
        h1 { white-space: normal; }
      }

      .conversation {
        @include transition(none);
        h1 { display: none; }
      }
    }

    .chat-window.new,
    .chat-window.off {
      display: block;
      .chat { background: $white; }
      .title a { @include box-shadow(0, 0, 0, 0, $white); }
    }

    .chat-window.flashing {
      .chat {
        -webkit-animation: none;
        -moz-animation: none;
        animation: none;
      }

      .title a {
        -webkit-animation: none;
        -moz-animation: none;
        animation: none;
      }
    }

    .chat-window.open {
      .title h1 { opacity: 1; visibility: visible; }
      .conversation { height: auto; overflow: visible; }
    }
  }

  // States
  .state-about {
    .about { display: block; }
    header.main .spinner a.open-about { display: none; }
    header.main .spinner a.close-about { display: block; }
  }

}

@media only screen and (max-width: 980px) {
  
  html, body { height: auto; overflow: auto; background: $black; }

  header.main {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    background: $white;
    border-bottom: $black solid 3px;

    .spinner {
      position: relative;
      top: auto;
      left: auto;
      width: auto;
      height: auto;

      a {
        position: relative;
        top: auto;
        left: auto;
        height: auto;
        padding: 10px 20px 15px 20px;
        line-height: 24px;

        &.open-about,
        &.close-about {
          width: auto;
          margin: 0;
          -webkit-animation: none;
          -moz-animation: none;
          animation: none; 
        }

        &.open-about:after {
          display: block;
          content: "About";
          color: $dark-grey;
        }

        &.close-about { display: none; color: $dark-grey; }
        &.close-about:before {
          display: block;
          content: "New Degrees of Freedom";
          color: $black;
        }

        h1 { color: $black; line-height: 24px; }
      }
    }
  }

  .vertical-divider { display: none; }

  .about {
    display: none;
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    height: auto;

    .primary,
    .secondary {
      position: relative;
      top: auto;
      left: auto;
      width: auto !important;
      height: auto;
      overflow: visible;
      opacity: 1;
    }

    .primary .text { padding-bottom: 0; }
  }

  .pieces {
    position: relative;

    .act {
      position: relative;
      top: auto !important;
      left: auto !important;
      width: auto;
      height: auto;
      overflow: hidden;
      border-bottom: $black solid 3px;
      @include transition(none);

      .stage {
        position: relative;
        top: auto;
        left: auto;
        width: auto;
        height: auto;
      }

      .shadow {
        top: 50% !important;
        left: 50% !important;
        width: 400px !important;
        height: 800px !important;
        margin: -400px -200px !important;
      }

      .video {
        position: relative;
        top: auto !important;
        left: auto !important;
        width: auto !important;
        height: auto !important;
        margin: 0 !important;
        padding: 20px;
      }

      .video-wrap {
        video { opacity: 1; visibility: visible; }
      }
    }

    canvas { display: none; }

    .act#act-1-clone { display: none; }
  }

  .chat-bots {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    height: auto;

    .chat-window {
      float: none;
      width: auto !important;
      height: auto;
      margin: 0;
      padding: 0;
      border-bottom: $black solid 3px;

      &:last-child { border-bottom: none; }

      .chat {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
      }

      .title {
        a { @include box-shadow(0, 0, 0, 0, $dark-grey); }
        h1 { white-space: normal; }
      }

      .conversation {
        @include transition(none);
        h1 { display: none; }
      }
    }

    .chat-window.new,
    .chat-window.off {
      display: block;
      .chat { background: $white; }
      .title a { @include box-shadow(0, 0, 0, 0, $white); }
    }

    .chat-window.flashing {
      .chat {
        -webkit-animation: none;
        -moz-animation: none;
        animation: none;
      }

      .title a {
        -webkit-animation: none;
        -moz-animation: none;
        animation: none;
      }
    }

    .chat-window.open {
      .title h1 { opacity: 1; visibility: visible; }
      .conversation { height: auto; overflow: visible; }
    }
  }

  // States
  .state-about {
    .about { display: block; }
    header.main .spinner a.open-about { display: none; }
    header.main .spinner a.close-about { display: block; }
  }

}
