@import "_vars.scss";
@import "_mixins.scss";
@import "_animations.scss";
@import "_jscrollpane.scss";

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: $white;
  color: $black;
  font-size: 12px;
  line-height: 16px;
  font-family: "Archivo Black", "Arial Black", sans-serif;
}

p { margin: 0 0 20px 0; }

ul {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;

  li {
    position: relative;
    margin: 0;
    padding: 0 0 0 0.75em;

    &:before {
      content: "-";
      position: absolute;
      left: 0;
      width: 0.5em;
    }
  }
}

header.main {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  @include transform(translateY(0));
  @include transition(all 0.3s ease-in-out);

  .spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    a {
      position: absolute;
      z-index: 9999;
      top: 50%;
      left: 50%;
      display: block;
      height: 40px;
      color: $dark-grey;
      text-decoration: none;
      font-size: 18px;
      line-height: 40px;
      text-align: center;

      &.open-about {
        width: 300px;
        margin: -12px -150px;
        @include transform(translateY(0));
        @include transition(all 0.3s ease-in-out);
        -webkit-animation: rotate 5s infinite linear;
        -moz-animation: rotate 5s infinite linear;
        animation: rotate 5s infinite linear;
      }

      &.close-about {
        width: 150px;
        margin: -12px -75px;
        opacity: 0;
        visibility: hidden;
        @include transform(translateY(0));
        @include transition(all 0.3s ease-in-out);
        -webkit-animation: rotate 2.5s infinite linear;
        -moz-animation: rotate 2.5s infinite linear;
        animation: rotate 2.5s infinite linear;
      }

      h1 {
        margin: 0;
        color: $black;
        font-size: 18px;
        font-weight: normal;
        line-height: 40px;
      }
    }
  }
}

.vertical-divider {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 50%;
  width: 4%;
  height: 100%;
  margin: 0 -2%;
}

.about {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $black;
  color: $white;
  -webkit-font-smoothing: antialiased;

  .jspDrag { background: darken($grey, 70%); }

  .primary,
  .secondary {
    position: absolute;
    top: 0;
    width: 40% !important;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0;
    @include transform(translateY(0));
    @include transition(all 0.3s ease-in-out);
  }

  .primary { left: 10%; }
  .secondary { left: 50%; }

  .text {
    padding: 20px 20px 70px 20px;

    a { color: $white; text-decoration: none; }

    .large { font-size: 18px; line-height: 24px; }

    .images {
      padding-bottom: 20px;

      img {
        display: block;
        width: 100%;
        max-width: 800px;
        height: auto;
        margin: 0 0 10px 0;
        vertical-align: top;

        &.portrait { max-width: 648px; }
      }
    }

    *:last-child { margin-bottom: 0; }
  }
}

.pieces {

  .act {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    @include transform(translateY(0));
    @include transition(all 0.3s ease-in-out);

    a.view-act {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .stage {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .video {
      position: absolute;
      z-index: 1;
      left: 50%;
      top: 50%;
      width: 200px;
      margin: -56.25px -100px;
    }

    .video-wrap {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;

      video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
      }
    }
  }

  .act#act-1 {
    background: $red;
    left: 50%;

    .shadow {
      position: absolute;
      z-index: 0;
      left: 50%;
      top: 50%;
      width: 800px;
      height: 800px;
      margin: -400px;
    }
  }

  .act#act-2 {
    background: $medium-grey;

    canvas {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.chat-bots {
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0.5%;
  width: 99%;
  height: 0;

  .chat-window {
    position: relative;
    float: right;
    width: 15.6666%;
    height: 1px;
    padding: 0 0.5%;
    overflow: visible;
    @include transform(translateY(0));
    @include transition(all 0.3s ease-in-out);

    &.focus { width: 25.6666%; }
    &.blur { width: 13.6666%; }

    .chat {
      position: absolute;
      right: 3%;
      bottom: 0;
      left: 3%;
      overflow: hidden;
      background: $dark-grey;
    }

    .title {
      position: relative;
      padding: 15px 35px 15px 20px;

      a {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        @include box-shadow(-70px, 0, 30px, -20px, $dark-grey, inset);
        text-decoration: none;

        &:after {
          content: "—";
          position: absolute;
          top: 4px;
          right: 12px;
          color: $black;
          font-size: 18px;
          line-height: 18px;
        }
      }

      h1 {
        margin: 0;
        font-size: 14px;
        line-height: 18px;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .conversation {
      height: 0;
      overflow: hidden;
      background: $white;
      font-size: 14px;
      line-height: 20px;
      opacity: 0;
      @include transform(translateY(0));
      @include transition(opacity 0.2s ease-in-out 0.4s);

      h1 {
        margin: 0 0 20px 0;
        color: $black;
        font-size: 14px;
        line-height: 18px;
        font-weight: normal;
      }

      .text { padding: 15px 20px; }

      strong {
        background: url(../image/dash.png) left top;
        font-weight: normal;
        .svg & { background: url(../image/dash.svg) left top; }
      }

      small {
        display: block;
        margin: 0 0 20px 0;
        font-size: 12px;
        line-height: 16px;
      }

      *:last-child { margin-bottom: 0; }
    }
  }

  .chat-window.off {
    display: none;
  }

  .chat-window.new {
    .chat { background: $white; }
    .title a { @include box-shadow(-70px, 0, 30px, -20px, $white, inset); }
  }

  .chat-window.flashing {
    .chat {
      -webkit-animation: alert 2s infinite linear;
      -moz-animation: alert 2s infinite linear;
      animation: alert 2s infinite linear;
    }

    .title a {
      -webkit-animation: alertshadow 2s infinite linear;
      -moz-animation: alertshadow 2s infinite linear;
      animation: alertshadow 2s infinite linear;
    }
  }

  .chat-window.open {
    .chat { background: $white; }
    .title {
      background: $grey;
      a {
        @include box-shadow(0, 0, 0, 0, $grey);
        &:after { top: auto; bottom: 6px; }
      }
      h1 { opacity: 0; visibility: hidden; }
    }
    .conversation {
      height: 500px;
      overflow-y: auto;
      overflow-x: hidden;
      opacity: 1;
    }
  }
}


// States
body:not(.state-about) {
  .vertical-divider:hover ~ .pieces article#act-2 { left: -2%; }
  .vertical-divider:hover ~ .pieces article#act-1 { left: 52%; }
  .vertical-divider:hover ~ .about .primary,
  .vertical-divider:hover ~ .about .secondary { opacity: 0.3; }
}

.state-about {
  .vertical-divider { display: none; }
  .pieces article#act-2 { left: -40%; }
  .pieces article#act-1 { left: 90%; }
  .about .primary,
  .about .secondary { opacity: 1; }
  header.main .spinner a.open-about { opacity: 0; visibility: hidden; }
  header.main .spinner a.close-about { opacity: 1; visibility: visible; }
}

.state-acts.act-1 {
  header.main,
  .vertical-divider { left: 10%; }
  .vertical-divider:hover ~ .pieces article#act-2 { left: -42%; }
  .vertical-divider:hover ~ .pieces article#act-1 { left: 12%; }
  .pieces article#act-2 { left: -40%; }
  .pieces article#act-1 { left: 10%; width: 90%; }
}

.state-acts.act-2 {
  header.main,
  .vertical-divider { left: 90%; }
  .vertical-divider:hover ~ .pieces article#act-2 { left: -2%; }
  .vertical-divider:hover ~ .pieces article#act-1 { left: 92%; }
  .pieces article#act-2 { width: 90%; }
  .pieces article#act-1 { left: 90%; }
}

@import "_mobile.scss";
